<%= form_for(@item_requisicion) do |f| %>
  <% if @item_requisicion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_requisicion.errors.count, "error") %> prohibited this item_requisicion from being saved:</h2>

      <ul>
      <% @item_requisicion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :prioridad %><br />
    <%= f.text_field :prioridad %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :requisicion_id %><br />
    <%= f.text_field :requisicion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
