 <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :marca %><br />
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :medida %><br />
    <%= f.text_field :medida %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :unidad_id %><br />
    <%= f.text_field :unidad_id %>
  </div>
  <div class="field">
    <%= f.label :proveedor_id %><br />
    <%= f.text_field :proveedor_id %>
  </div>
  <div class="field">
    <%= f.label :seccion_id %><br />
    <%= f.text_field :seccion_id %>
  </div>