<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @requisicion.descripcion %>
</p>

<p>
  <b>Fecha:</b>
  <%= @requisicion.fecha %>
</p>

<p>
  <b>Orden de compra:</b>
  <%= @requisicion.orden_de_compra_id %>
</p>

<p>
  <b>User:</b>
  <%= @requisicion.user_id %>
</p>


<%= link_to 'Edit', edit_requisicion_path(@requisicion) %> |
<%= link_to 'Back', requisicions_path %>
